@media (min-width: 768px) {
  .form-horizontal .control-label {
    font-weight: normal;
    padding-top: 12px;
  }
  .align-right-sm {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .form-horizontal {
    .form-group {
      .control-label {
        font-weight: normal;
      }
      input, textarea {
        text-align: center;
      }
    }
  }
}
@media print {
  label {
    color: #00b8e6 !important;
    font-size: 20px;
    text-transform: uppercase;
  }
  .chip svg {
    display: none !important;
  }
  a[href]:after {
    content: none !important;
  }
}

.cv-head {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  & > * {
    display: inline-flex;
  }
  .chevron {
    height: 60px;
    width: 100px;
  }
}
.form-horizontal {
  .form-group .control-label + .block > div {
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
  }
}
footer {
  text-align: center;
  height: 155px;
}
